<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Travel Planer</title>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data-10-year-range.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.27.0/humanize-duration.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-simple-suggest@1.11.2/dist/umd.min.js"></script>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" />
		<link rel="stylesheet" href="main.css" />

		<link rel="icon" href="./favicon.svg" type="image/svg+xml" />
	</head>

	<body>
		<div class="container my-3">
			<div id="app">
				<ul class="nav nav-tabs my-2 d-print-none">
					<li class="nav-item">
						<a class="nav-link" :class="{ active: tab == 'cities' }" href="#" @click="tab = 'cities'"> <i class="icon">place</i><span class="d-none d-md-inline">Города</span> </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{ active: tab == 'plan' }" href="#" @click="tab = 'plan'"> <i class="icon">route</i><span class="d-none d-md-inline">План поездки</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{ active: tab == 'costs' }" href="#" @click="tab = 'costs'"> <i class="icon">pie_chart</i><span class="d-none d-md-inline">Бюджет</span></a>
					</li>
					<li class="nav-item ms-auto">
						<a class="nav-link" :class="{ active: tab == 'about' }" href="#" @click="tab = 'about'"> <i class="icon">info</i><span class="d-none d-md-inline">О проекте</span></a>
					</li>
				</ul>

				<div v-if="tab=='cities'">
					<p class="text-secondary d-print-none my-4">Внесите сюда список всех городов и населённых пунктов, которые хотите (или вынуждены) посетить в ходе поездки. Начните с города отправления. Указывайте в том числе транзитные пункты (пересадки).</p>

					<table class="table">
						<tr>
							<th>Страна</th>
							<th>Город</th>
							<th>Часовой пояс</th>
							<th>Валюта</th>
							<th></th>
						</tr>
						<tr v-for="city of cities">
							<td class="align-middle">
								<div v-if="city.edit">
									<vue-simple-suggest v-model="city.country" display-attribute="name_ru" value-attribute="iso3" :filter-by-query="true" :filter="filterCountry" :list="countries" :min-length="1" @select="selectCountry($event,city)" :styles="suggestStyles" :max-suggestions="7">
										<div slot="suggestion-item" slot-scope="{ suggestion, query }">
											<div class="d-flex">{{ suggestion.name_ru }}</div>
										</div>
									</vue-simple-suggest>
								</div>
								<div v-else class="d-flex align-items-center"><img v-if="city.iso2" :src="'https://flagsapi.com/'+ city.iso2 + '/shiny/32.png'" class="me-2" />{{city.country}}</div>
							</td>

							<td class="align-middle">
								<div v-if="city.edit">
									<vue-simple-suggest v-model="city.name" ref="cityName" display-attribute="name_ru" value-attribute="id" :filter-by-query="true" :filter="filterCity" :list="getCities(city.iso2)" :min-length="1" @select="selectCity($event,city)" @keydown.enter="saveAll" :styles="suggestStyles" :max-suggestions="7">
										<div slot="suggestion-item" slot-scope="{ suggestion, query }">
											<div class="d-flex">{{ suggestion.name_ru }}</div>
											<div v-if="suggestion.district" class="opacity-50"><small>{{ suggestion.district }}</small></div>
										</div>
									</vue-simple-suggest>
								</div>
								<div v-else>
									<b>{{getCityName(city.id)}}</b>
									<div v-if="city.district"><small>{{city.district}}</small></div>
								</div>
							</td>
							<td class="align-middle">
								<div v-if="city.edit">
									<select v-model="city.timezone" class="form-select">
										<option v-for="zone of timezones" :value="zone.value">{{ zone.name }}</option>
									</select>
								</div>
								<div v-else>
									<span>{{city.timezone}}</span>
								</div>
							</td>
							<td class="align-middle">
								<div v-if="city.edit">
									<select class="form-select" v-model="city.currency">
										<option v-for="currency of currencies" :value="currency.id">{{currency.name.full}}</option>
									</select>
								</div>
								<div v-else>
									<span>{{city.currency}}</span>
								</div>
							</td>
							<td class="align-middle">
								<div v-if="city.edit" class="d-flex gap-1">
									<button key="remove" @click="remCity(city.id)" class="btn btn-danger btn-sm ms-2">
										<i class="icon">delete</i>
									</button>
									<button key="save" class="btn btn-success btn-sm ms-2" @click="city.edit = false">
										<i class="icon">save</i>
									</button>
								</div>
								<div v-else class="d-flex justify-content-end">
									<button key="edit" class="btn btn-link btn-sm d-print-none" @click="saveAll(); city.edit = true">
										<i class="icon">edit</i>
									</button>
								</div>
							</td>
						</tr>
					</table>

					<button class="btn btn-primary my-2" @click="saveAll(); addCity()" title="населенный пункт, место пересадки">добавить город</button>
				</div>

				<div v-if="tab=='plan'">
					<p class="text-secondary d-print-none my-4">Здесь вы можете заполнить весь план вашего путешествия: переезды с указанием стоимости билетов, размещения в отелях, апартаментах, а так же указать места, которые хотите посесить в каждом городе и любые местные траты (транспорт, питание и т.д.).</p>

					<div class="points">
						<div v-for="(point,p) of sortedPoints" class="clearfix my-4 full-print row" :class="isCompleted(point,p)" :key="point.id">
							<div class="col-2 timeline" :class="{'ending':point.ending}">
								<h3 v-if="showDate(point)">
									<span>{{moment(point.dateStart).format("D MMM").replace(".","")}}</span>
								</h3>
							</div>

							<div class="col">
								<div class="edit" v-if="point.edit">
									<div class="row gx-2">
										<div class="col-12 col-md-8 d-flex order-md-2">
											<input type="text" class="form-control" v-model="point.name" placeholder="наименование" title="Название, номер рейса, терминал и пр." />
											<button @click="remPoint(point.id)" class="btn btn-danger btn-sm ms-2">
												<i class="icon">delete</i>
											</button>
											<button class="btn btn-success btn-sm ms-2" @click="point.edit = false; saveAll()">
												<i class="icon">save</i>
											</button>
										</div>
										<div class="col-12 col-md-4 mt-2 mt-md-0">
											<div class="input-group">
												<span class="input-group-text">
													<i class="icon">{{typeById(point.type).icon}}</i>
												</span>
												<select class="form-select" v-model="point.type">
													<option v-for="type of typesByCategory(point.category)" :value="type.id">{{type.name}}</option>
												</select>
											</div>
										</div>
									</div>

									<div class="row mt-2 gx-2">
										<div class="col-12" :class="{'col-md-6':point.category=='route'}">
											<select class="form-select" v-model="point.cityStart" required>
												<option v-for="city of cities" :value="city.id">{{ city.name }}<span v-if="city.district">, {{city.district}}</span></option>
												<option value="" disabled selected hidden v-if="cities.length==0">нет городов для выбора</option>
												<option value="" disabled selected hidden v-else>выберите город...</option>
											</select>
										</div>

										<div class="col-12 col-md-6 mt-2 mt-md-0" v-if="point.category=='route'">
											<select class="form-select" v-model="point.cityEnd" required>
												<option v-for="city of cities" :value="city.id">{{ city.name }}<span v-if="city.district">, {{city.district}}</span></option>
												<option value="" disabled selected hidden v-if="cities.length==0">нет городов для выбора</option>
												<option value="" disabled selected hidden v-else>выберите город...</option>
											</select>
										</div>
									</div>

									<div class="row mt-2 gx-2">
										<div class="col-12" :class="{'col-md-6':point.category!='other'}">
											<div class="input-group">
												<input type="date" class="form-control" v-model.lazy="point.dateStart" @change="changeStart(point)" />
												<input type="time" class="form-control" v-model.lazy="point.timeStart" title="Всегда указывайте местное время" />
											</div>
										</div>

										<div class="col-12 col-md-6 mt-2 mt-md-0" v-if="point.category!='other'">
											<div class="input-group">
												<input type="date" class="form-control" v-model.lazy="point.dateEnd" :min="point.dateStart" />
												<input type="time" class="form-control" v-model.lazy="point.timeEnd" title="Всегда указывайте местное время" />
											</div>
										</div>
									</div>
									<div class="row gx-2">
										<div class="col-12 col-md-6 mt-2">
											<div class="input-group">
												<input type="number" class="form-control" v-model.number="point.price" value="0" placeholder="Стоимость" />
												<span class="input-group-text">&times;</span>
												<input type="number" min="1" step="1" class="form-control" value="1" v-model.number="point.count" title="Число мест, людей, билетов, дней и пр." />
												<select class="form-select" v-model="point.currency" title="валюта">
													<option v-for="currency of getFilteredCurrencies(point.cityStart, point.cityEnd)" :value="currency.id">{{currency.name.short}}</option>
												</select>
											</div>
											<div class="float-end" :class="{'text-danger':point.payed==false, 'text-success':point.payed==true}" v-if="point.price>0">{{getPointPrice(point)}}</div>
											<label class="form-check">
												<input class="form-check-input" type="checkbox" v-model="point.payed" />
												<div class="form-check-label">уже оплачено</div>
											</label>
										</div>

										<div class="col-12 col-md-6 mt-2">
											<textarea class="form-control" placeholder="комментарии" v-model="point.comment" title="Адрес, контактные телефоны, режим работы и т.д."></textarea>
										</div>
									</div>
								</div>
								<div v-else class="view clearfix full-print">
									<div v-if="!point.ending" :class="{'ms-3':point.category=='other1'}">
										<button class="btn btn-link btn-sm float-end d-print-none" @click="saveAll(); point.edit = true">
											<i class="icon">edit</i>
										</button>
										<h3 v-if="point.category!='other'">
											<span><i class="icon">{{typeById(point.type).icon}}</i></span>
											<span>{{getPointTitle(point)}}</span>
										</h3>
										<h5 v-else>
											<span><i class="icon">{{typeById(point.type).icon}}</i></span>
											<span>{{getPointTitle(point)}}</span>
										</h5>
										<p class="float-end" :class="{'text-danger':point.payed==false, 'text-success':point.payed==true}" v-if="point.price>0">{{getPointPrice(point)}}</p>
										<p v-if="point.category=='route'">{{point.name}}</p>
										<p>
											{{getPointDates(point)}}
											<span class="text-secondary ms-4"> {{getPointDuration(point)}}</span>
										</p>
										<p v-if="point.comment.length" class="fst-italic">{{point.comment}}</p>
									</div>
									<div v-else class="text-secondary">
										<h3>
											<span><i class="icon">{{typeById(point.type).icon}}</i></span>
											<span v-if="point.category=='route'">прибытие в {{getCityName(point.cityEnd)}}</span>
											<span v-if="point.category=='residence'">выезд из {{getPointTitle(point)}}</span>
										</h3>
										<p>{{moment(point.dateEnd + " " + point.timeEnd).format("D MMMM, HH:mm")}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex gap-2 my-3 d-print-none justify-content-center align-items-center">
						Добавить<br />
						<button class="btn btn-primary" @click="addPoint('', 'route', 'train')" title="переезд, перелёт, трансфер"><i class="icon">flight</i><span class="d-none d-md-inline ms-2">перелёт / поездку</span></button>
						<button class="btn btn-primary" @click="addPoint('', 'residence', 'hotel')" title="отель, хостел, апартаменты"><i class="icon">hotel</i><span class="d-none d-md-inline ms-2">размещение</span></button>
						<button class="btn btn-primary" @click="addPoint('', 'other', 'food')" title="питание, достопримечательности, экскурсии"><i class="icon">restaurant</i><span class="d-none d-md-inline ms-2">еда и другое</span></button>
					</div>
					<p class="text-secondary d-print-none my-4">В наименовании удобно указывать номер рейса, терминал, посадочные места, название отеля, компании предоставляющей аренду, номер бронирования и прочее. А в комментариях - адрес, телефон, режим работы и т.д.</p>
					<p class="text-secondary d-print-none my-4">
						Когда заполните весь план, можете нажать
						<kbd>Ctrl</kbd>+<kbd>P</kbd>, распечатать его и взять с собой в поездку.
					</p>
				</div>

				<div v-if="tab=='costs'">
					<div class="row my-4">
						<div class="col">
							<h3>Стоимость поездки</h3>
							<table class="table">
								<tr>
									<td>Уже оплачено:</td>
									<td>
										<span class="text-success">{{money.format(costs.spent)}}</span>
									</td>
								</tr>
								<tr>
									<td>Ещё оплатить:</td>
									<td>
										<span class="text-danger">{{money.format(costs.needPay)}}</span>
									</td>
								</tr>
								<tr>
									<td>Всего расходов:</td>
									<td><b>{{money.format(costs.total)}}</b></td>
								</tr>
							</table>
						</div>
						<div class="col">
							<h3 class="mb-3">На что уходят деньги</h3>
							<div class="row align-items-center">
								<div class="col">
									<svg class="pie" viewBox="0 0 150 150" style="transform: rotate(-90deg)">
										<circle v-for="item of pies" :style="{strokeDasharray: `${item.relativeSize} 314.159`, strokeDashoffset: item.offset, stroke: item.stroke}" r="50" cx="50%" cy="50%" style="fill: none; stroke-width: 50" />
									</svg>
								</div>
								<div class="col">
									<table class="table table-borderless">
										<tr>
											<td><i class="text-info">&#9632;</i> Транспорт:</td>
											<td>{{money.format(costs.transport)}}</td>
										</tr>
										<tr>
											<td><i class="text-warning">&#9632;</i> Проживание:</td>
											<td>{{money.format(costs.living)}}</td>
										</tr>
										<tr>
											<td><i class="text-danger">&#9632;</i> Еда:</td>
											<td>{{money.format(costs.food)}}</td>
										</tr>
										<tr>
											<td><i class="text-success">&#9632;</i> Остальное:</td>
											<td>{{money.format(costs.other)}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-danger my-2" @click="removeAll()">удалить всё</button>
				</div>

				<div v-if="tab=='about'" class="d-print-none">
					<h4 class="mt-4 mb-3">О проекте</h4>
					<p>Данный планировщик создан для личного использования с ценлью облегчить себе планирование путешествия и посчитать предстоящие расходны на него.</p>
					<h4 class="mt-5 mb-3">Используемые ресурсы и API</h4>
					<ul>
						<li>Дизайн: <a href="https://getbootstrap.com/">https://getbootstrap.com/</a></li>
						<li>Селекты: <a href="https://github.com/KazanExpress/vue-simple-suggest">https://github.com/KazanExpress/vue-simple-suggest</a></li>
						<li>Курсы валют: <a href="https://www.cbr-xml-daily.ru/">https://www.cbr-xml-daily.ru/</a></li>
						<li>Флаги стран мира: <a href="https://flagsapi.com/">https://flagsapi.com/</a></li>
						<li>Иконки: <a href="https://fonts.google.com/icons">https://fonts.google.com/icons</a></li>
					</ul>
					<p>Списки стран, городов и соответствющих им часовых поясов собраны из нескольких общедоступных датасетов. Достоверность и актуальнось информации в них не проверялась и не гарантируется.</p>
				</div>
			</div>
		</div>
		<script src="main.js"></script>
	</body>
</html>
